# Python
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Virtual Environment
.venv/
venv/

# Django
media/
staticfiles/

# Environment
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Node
node_modules/
.next/
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db